/* General styling for the signup container */
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, rgba(95, 183, 174, 0.6), rgba(199, 236, 238, 0.6));
    font-family: 'Arial', sans-serif;
  }
  
  /* Style for the form box */
  .signup-container form {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: left;
  }
  
  .signup-container h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Styling for each input field */
  .signup-container form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  /* Style for labels */
  .signup-container form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  /* Style for error and success messages */
  .signup-container form p {
    font-size: 14px;
  }
  
  .signup-container form p[style="color: red"] {
    color: red;
  }
  
  .signup-container form p[style="color: green"] {
    color: green;
  }
  
  /* Style for the submit button */
  .signup-container form button {
    background: linear-gradient(to right, #62dba3, #00b2f9);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 20px;
  }
  
  .signup-container form button:hover {
    background: linear-gradient(to right, #00b2f9, #62dba3);
  }
  
  /* Input file field styling */
  .signup-container form input[type="file"] {
    padding: 3px;
  }

  .no-scroll {
    overflow: hidden;
  }
  
  